h1{
font-size: 30px;
text-align: center;
color: #de7471
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #007471;
}
a {
    color: #ffe4c4;    /* couleur du lien */
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}
